<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Pet Depot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    
</head>
<body>
    <div id="app">
        <header>
            <!-- <h1 v-text= "sitename"></h1> -->
            <h1>{{ sitename }}</h1>
            <button v-on:click= 'showCheckout'>
                {{ cartItemCount }}
                <span class="fas fa-shopping-cart"></span>Checkout
            </button>
        </header>
        <main>
            <!-- product page -->
            <div v-if= 'showProduct'>
                <figure>
                    <img v-bind:src="product.image">
                </figure>
                <h2 v-text="product.title"></h2>
                <p v-text="product.description"></p>
                <p>Price: {{product.price}}</p>
                <button v-on:click= "addToCart" v-if= "canAddToCart">
                    Add to cart
                </button>
                <button disabled='disabled' v-else>
                    Add to cart
                </button>
            </div>
            <div v-else>
                <!-- Checkout page -->
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model="order.firstName"/>
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model="order.lastName"/>
                </p>
                <p>
                    <strong>Address:</strong> <input v-model="order.address"/>
                </p>
                <p>
                    <strong>City:</strong> <input v-model="order.city"/>
                </p>
                <p>
                    <strong>State:</strong>
                    <select v-model="order.state">
                        <!-- Way 1 -->
                        <option v-for="(state, key) in states" v-bind:value="state">
                            {{key}}
                        </option>
                        <!-- Way 2((Easy understanding)) -->
                        <!-- <option disabled value="">State</option>
                        <option v-bind:value="states.AL">AL</option>
                        <option v-bind:value="states.AR">AR</option>
                        <option v-bind:value="states.CA">CA</option>
                        <option v-bind:value="states.NV">NV</option> -->
                    </select>
                </p>
                <p>
                    <strong>Zip/Postal Code:</strong> 
                    <input v-model="order.zip"/>
                </p>
                <p>
                    <input input type="checkbox" id="gift" value="true" 
                    v-model="order.gift" v-bind:true-value="order.sendGift" 
                    v-bind:false-value="order.dontSendGift">
                    <label for="gift">Ship As Gift?</label>
                </p>
                <p>
                    <input input type="radio" id="gift" value="Home" v-model="order.method">
                    <label for="home">Home</label>
                </p>
                <p>
                    <input input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p>
                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Zip: {{order.zip}}</p>
                <p>State: {{order.state}}</p>
                <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>
    </div>
    <!-- Data Input -->
    <script src="Data.js"></script>
</body>
</html>